.option{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.option li {
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 5s steps(4) infinite;
}

@keyframes slide {
  100%{
    top: -360px;
  }
}
.option li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.option li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}