@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track{
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: #c2c2c2;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #5049d6;
  }